{% extends "base.html" %}


{% block main %}
{% include 'flash_messages.html' %}
<div>
        {% for image in images %}
              {% if profile.image == image %}
                    
                        <div  class = "myprofile">
                             <img class="profileimage" src="{{url_for('static', filename ='uploads/'+image)}}" />
                             <div class="info">
                                <h4>{{profile.firstname}} {{profile.lastname}}</h4>
                                <p><span class="fa fa-user" style="font-size:24px;"></span>{{profile.gender}}</p>
                                <p><span class="fa fa-envelope" style="font-size:24px;"></span>{{profile.email}}</p>
                                <p><span class="fa fa-map-marker" style="font-size:24px;"></span>{{profile.location}}</p>
                                <p><span class="fa fa-calendar" style="font-size:24px;"></span>joined on {{profile.date_joined.strftime("%B, %d, %Y") }}</p>
                             </div>
                        
                             <div class="bio">
                                 <p><strong>About Me</strong></p>
                                 <p>{{profile.biography }}</p>
                             </div>
                            
                        
                            <div class="buttons">
                                <a class="button2">Send Message</a>
                                <a class="button3">Follow</a>
                            </div>
                        </div>
              {% endif %}
        {% endfor %}
</div>

{% endblock %}